body{
	background: #ECEBE7;
}

#start {
	padding-top: 25%;
	height: 100%;
	position: absolute;
	z-index: 5000;
}

.container{
	width: 100%;
	//min-width: 768px;
	margin: 0 auto;
	background: #fff;
}
.container.framed{
	padding-left: 100px;
	padding-top: 70px;
}
/*
	added a start class just to center things
*/
.container.start{
	text-align: center;
	padding-top: 50px;
	background: #ECEBE7;
	max-width: 100%;
	margin-bottom: 100px;
	padding-bottom: 50px;

	h1{
		text-transform: uppercase;
		margin-bottom: 1.5em;
		font-family: 'Average';
	}
	a.btn-primary{
		display: inline-block;
		margin: 0 auto;
		padding: 10px 60px;
		text-align: center;
		font-size: 1.2em;
		text-transform: uppercase;

		&:hover{
			text-decoration: none;
		}
	}
}
.glyphicon-remove-circle:before {
	font-size: 1.3em;
	position: relative;
	margin-right: 5px;
	color: #B2AEA5;
}

.btn-primary{
	padding: 10px 25px;
	border-radius: 3px;
	-webkit-transform: translateY(-50%);
	background: #E3323A;
	color: #fff;
	border: solid 1px #c42d32; //c42d32
	vertical-align: top;
	-webkit-transition: all 0.4s;

	&:hover{
		text-decoration: none;
		background: #EBEAE8;
		border-color: #ccc;
		color: #000;
	}
}