header{
	width: 100%;
	position: fixed;
	padding: 40px 15px 20px;
	background: #DAD7D2;
	z-index: 1000;

	h1{
		font-family: 'Average';
		display: inline-block;
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 1.6em;
	}

	&:after{
		display: block;
		content: '';
		clear: both;
	}
	.closebtn{
		margin-top: 9px;
		padding: 13px 25px 15px;
		border-radius: 3px;
		position: absolute;
		right: 15px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		background: #EBEAE8;
		color: #000;
		border: solid 1px #ccc;
		vertical-align: top;

		&:hover{
			text-decoration: none;
			background: #E3323A;
			border-color: #c42d32;
			color: #fff;
			&:before{
				color: #fff;
			}
		}
	}
	.sync-btn {
		margin-top: 9px;
		padding: 10px 25px;
		border-radius: 3px;
		position: absolute;
		left: 15px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		background: #EBEAE8;
		color: #000;
		border: solid 1px #ccc;

		&.isLoading:after{
			display: inline-block;
			position: relative;
			background: url(../img/ajax-loader.gif) no-repeat;
			content: '';
			width: 16px;
			height: 16px;
			top: 3px;
			margin-left: 10px;
		}
		&:hover{
			text-decoration: none;
			background: #E3323A;
			border-color: #c42d32;
			color: #fff;
		}

		&.disabled,
		&.btn-primary.disabled:hover {
			background-color: #EBEAE8;
			border-color: transparent;
			color: #bfbbb5;
		}
	}
}
.left-menu{
	border-right: solid 1px #DAD7D2;
	width: 100%;
	max-width: 100px;
	position: fixed;
	height: 100%;
	padding-top: 64px;
	background: #ECEBE7;
	margin-top: 20px;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			text-align: center;

			&.isActive a{
				color: #e3323a;
			}
			a{
				width: 100%;
				color: #9C9992;
				padding: 25px 0;

				&:hover{
					color: #E3323A;
				}
			}
			& a:before{
				display: block;
				font-size: 1.6em;
				margin-bottom: 4px;
			}
			a:hover{
				text-decoration: none;
			}
		}
	}

	&:after{
		display: block;
		content: '';
		clear: both;
	}
}