.open-report{
	margin: 0 auto;
	max-width: 300px;
	text-align: left;
	font-family: 'Lato';
	font-size: 1.1em;
	border: solid 1px #c8c4bb;
	margin-top: 30px;
	background: #fff;

	h2{
		margin: 0;
		padding: 0;
		background: #ECEBE7;
		font-size: 1.1em;
		border-bottom: solid 1px #c8c4bb;
		padding: 15px 10px;
	}
	a{
		display: block;
		padding: 15px 10px;
		&:hover{
			text-decoration: none;
		}
		&:before {
			content: none;
		}
		&:after{
			content: "\e080";
			position: absolute;
			right: 10px;
		}
	}
}