/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* line 19, ../sass/_cordovaIndex.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* apply a natural box layout model to all elements */
/* line 23, ../sass/_cordovaIndex.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../sass/_cordovaIndex.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-attachment: fixed;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* line 1, ../sass/_app.scss */
#app {
  display: none;
  position: absolute;
  top: 0;
}

/* line 1, ../sass/_start.scss */
body {
  background: #ECEBE7;
}

/* line 5, ../sass/_start.scss */
#start {
  padding-top: 25%;
  height: 100%;
  position: absolute;
  z-index: 5000;
}

/* line 12, ../sass/_start.scss */
.container {
  width: 100%;
  margin: 0 auto;
  background: #fff;
}

/* line 18, ../sass/_start.scss */
.container.framed {
  padding-left: 100px;
  padding-top: 70px;
}

/*
	added a start class just to center things
*/
/* line 25, ../sass/_start.scss */
.container.start {
  text-align: center;
  padding-top: 50px;
  background: #ECEBE7;
  max-width: 100%;
  margin-bottom: 100px;
  padding-bottom: 50px;
}
/* line 33, ../sass/_start.scss */
.container.start h1 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
  font-family: 'Average';
}
/* line 38, ../sass/_start.scss */
.container.start a.btn-primary {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 60px;
  text-align: center;
  font-size: 1.2em;
}
/* line 46, ../sass/_start.scss */
.container.start a.btn-primary:hover {
  text-decoration: none;
}

/* line 51, ../sass/_start.scss */
.glyphicon-remove-circle:before {
  font-size: 1.3em;
  position: relative;
  margin-right: 5px;
  color: #B2AEA5;
}

/* line 58, ../sass/_start.scss */
.btn-primary {
  padding: 10px 25px;
  border-radius: 3px;
  -webkit-transform: translateY(-50%);
  background: #E3323A;
  color: #fff;
  border: solid 1px #c42d32;
  vertical-align: top;
  -webkit-transition: all 0.4s;
}
/* line 68, ../sass/_start.scss */
.btn-primary:hover {
  text-decoration: none;
  background: #EBEAE8;
  border-color: #ccc;
  color: #000;
}

/* line 1, ../sass/_frame.scss */
header {
  width: 100%;
  position: fixed;
  padding: 40px 15px 20px;
  background: #DAD7D2;
  z-index: 1000;
}
/* line 8, ../sass/_frame.scss */
header h1 {
  font-family: 'Average';
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.6em;
}
/* line 20, ../sass/_frame.scss */
header:after {
  display: block;
  content: '';
  clear: both;
}
/* line 25, ../sass/_frame.scss */
header .closebtn {
  margin-top: 9px;
  padding: 10px 25px;
  border-radius: 3px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  background: #EBEAE8;
  color: #000;
  border: solid 1px #ccc;
  vertical-align: top;
}
/* line 38, ../sass/_frame.scss */
header .closebtn:hover {
  text-decoration: none;
  background: #E3323A;
  border-color: #c42d32;
  color: #fff;
}
/* line 43, ../sass/_frame.scss */
header .closebtn:hover:before {
  color: #fff;
}
/* line 48, ../sass/_frame.scss */
header .sync-btn {
  margin-top: 9px;
  padding: 10px 25px;
  border-radius: 3px;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  background: #EBEAE8;
  color: #000;
  border: solid 1px #ccc;
}
/* line 59, ../sass/_frame.scss */
header .sync-btn.isLoading:after {
  display: inline-block;
  position: relative;
  background: url(../img/ajax-loader.gif) no-repeat;
  content: '';
  width: 16px;
  height: 16px;
  top: 3px;
  margin-left: 10px;
}
/* line 69, ../sass/_frame.scss */
header .sync-btn:hover {
  text-decoration: none;
  background: #E3323A;
  border-color: #c42d32;
  color: #fff;
}

/* line 77, ../sass/_frame.scss */
.left-menu {
  border-right: solid 1px #DAD7D2;
  width: 100%;
  max-width: 100px;
  position: fixed;
  height: 100%;
  padding-top: 64px;
  background: #ECEBE7;
  margin-top: 20px;
}
/* line 86, ../sass/_frame.scss */
.left-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 90, ../sass/_frame.scss */
.left-menu ul li {
  text-align: center;
}
/* line 93, ../sass/_frame.scss */
.left-menu ul li.isActive a {
  color: #e3323a;
}
/* line 96, ../sass/_frame.scss */
.left-menu ul li a {
  width: 100%;
  color: #9C9992;
  padding: 25px 0;
}
/* line 101, ../sass/_frame.scss */
.left-menu ul li a:hover {
  color: #E3323A;
}
/* line 105, ../sass/_frame.scss */
.left-menu ul li a:before {
  display: block;
  font-size: 1.6em;
  margin-bottom: 4px;
}
/* line 110, ../sass/_frame.scss */
.left-menu ul li a:hover {
  text-decoration: none;
}
/* line 116, ../sass/_frame.scss */
.left-menu:after {
  display: block;
  content: '';
  clear: both;
}

/* line 3, ../sass/_form.scss */
.team-member-1 .js-remove-member-container {
  display: none;
}

/* line 1, ../sass/_openreport.scss */
.open-report {
  margin: 0 auto;
  max-width: 300px;
  text-align: left;
  font-family: 'Lato';
  font-size: 1.1em;
  border: solid 1px #c8c4bb;
  margin-top: 30px;
  background: #fff;
}
/* line 11, ../sass/_openreport.scss */
.open-report h2 {
  margin: 0;
  padding: 0;
  background: #ECEBE7;
  font-size: 1.1em;
  border-bottom: solid 1px #c8c4bb;
  padding: 15px 10px;
}
/* line 19, ../sass/_openreport.scss */
.open-report a {
  display: block;
  padding: 15px 10px;
}
/* line 22, ../sass/_openreport.scss */
.open-report a:hover {
  text-decoration: none;
}
/* line 25, ../sass/_openreport.scss */
.open-report a:before {
  content: none;
}
/* line 28, ../sass/_openreport.scss */
.open-report a:after {
  content: "\e080";
  position: absolute;
  right: 10px;
}

/* line 1, ../sass/_canteenReportForms.scss */
#submit {
  background-color: #332e28;
  padding-bottom: 50em;
}

/* line 5, ../sass/_canteenReportForms.scss */
#submit p {
  font-size: 1.25em;
  font-weight: normal;
  color: #fff;
}

/* line 11, ../sass/_canteenReportForms.scss */
.container {
  padding-right: 0;
}

/* line 15, ../sass/_canteenReportForms.scss */
a:link, a:hover, a:focus {
  color: #e3323a;
}

/* line 19, ../sass/_canteenReportForms.scss */
.team-member {
  margin-bottom: 0.25em;
}

/* line 23, ../sass/_canteenReportForms.scss */
.tab-content {
  margin-bottom: 2em;
}

/* line 28, ../sass/_canteenReportForms.scss */
.canteen-well {
  padding: 2em;
  border-bottom: 2px solid #ecebe8;
}

/* line 32, ../sass/_canteenReportForms.scss */
.canteen-well:last-child {
  padding-top: 2em;
  border-bottom: none;
}

/* line 37, ../sass/_canteenReportForms.scss */
.amounts .row {
  padding: 0.75em 0 0.5em 0;
}

/* line 47, ../sass/_canteenReportForms.scss */
.btn-is-active,
.btn-is-active:focus,
.btn-is-active:active,
.btn-red,
.btn-red:focus,
.btn-red:hover,
.btn-red:active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background: #E3323A;
  text-decoration: none;
  border-color: #ccc;
  color: #fff;
  border: solid 1px #c42d32;
  vertical-align: top;
}

/* line 56, ../sass/_canteenReportForms.scss */
.btn-red:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* line 62, ../sass/_canteenReportForms.scss */
.amounts .row .input-group .glyphicon {
  top: 1px;
}

/* line 66, ../sass/_canteenReportForms.scss */
.amounts .row:nth-child(even) {
  background-color: #ecebe8;
  border-top: 1px solid #dad7d2;
  border-bottom: 1px solid #dad7d2;
}

/* line 72, ../sass/_canteenReportForms.scss */
.amounts .row:nth-child(even) .form-control-label {
  background: transparent;
}

/** bootstrap overrides */
/* line 76, ../sass/_canteenReportForms.scss */
.control-group {
  margin-bottom: 1em;
}

/* line 80, ../sass/_canteenReportForms.scss */
.input-group {
  width: 100%;
}

/* line 83, ../sass/_canteenReportForms.scss */
.input-group .glyphicon {
  top: 0;
}

/* line 87, ../sass/_canteenReportForms.scss */
.type-container .row {
  margin-bottom: 1em;
}

/* line 91, ../sass/_canteenReportForms.scss */
.row-label {
  display: table;
}

/* line 94, ../sass/_canteenReportForms.scss */
.row-label label {
  display: table-cell;
}

/* line 99, ../sass/_canteenReportForms.scss */
label, h2 {
  font-size: 16px;
  font-weight: bold;
  color: #332e27;
}

/* line 104, ../sass/_canteenReportForms.scss */
label.control-label {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* line 108, ../sass/_canteenReportForms.scss */
label.form-control {
  font-weight: normal;
}

/* line 111, ../sass/_canteenReportForms.scss */
label.form-control-label {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 117, ../sass/_canteenReportForms.scss */
.form-control {
  border: 1px solid #c8c4bb;
}

/* line 121, ../sass/_canteenReportForms.scss */
.required abbr {
  border-bottom: none;
  color: #e3323a;
}
