.btn-default {
	&.btn-is-active {
		background-color: $primaryRed;
		color: #fff;
		border-color: $primaryRed;
	}
}

h2 {
	margin-bottom: 0 !important;
}

label, h2 {
	font-family: $heading-font !important;
	font-size: 1.15em !important;
	font-weight: bold !important;
	&.minor {
		font-weight: normal !important;
	}
}
label.control-label {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
label.form-control {
	font-weight: normal;
}
label.form-control-label {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}