$default: 16;
$default-font-size: em-calc(16);

$birch: #332e27;
$cararra: #ecbe77;
$cararraTan: #edebe9;
$silverRust: #c8c4bb;
$deepCarminePink: #e3323a;

$background: $cararraTan;
$primaryRed: $deepCarminePink;