@font-face {
  font-family: 'Average';
  src: url('/css/fonts/Average/average-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/css/fonts/Average/average-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/css/fonts/Average/average-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/css/fonts/Average/average-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/css/fonts/Average/average-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$default: 16;
$default-font-size: em-calc(16);
$default-sans-serif-font: Helvetica, sans-serif;
$default-serif-font: 'Average', "Times New Roman", Times, serif;

$heading-font: $default-sans-serif-font;
$defaut-font: $default-sans-serif-font;

$birch: #332e27;
$cararra: #ecbe77;
$cararraTan: #edebe9;
$silverRust: #c8c4bb;
$deepCarminePink: #e3323a;
$alabaster: #f9f9f9;

$background: $cararraTan;
$primaryRed: $deepCarminePink;