#submit {
	background-color: #332e28;
	padding-bottom: 50em;
}
#submit p {
	font-size: 1.25em;
	font-weight: normal;
	color: #fff;
}

.form-center {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

// .container {
// 	padding-right: 0;
// }

a:link, a:hover, a:focus {
	color: #e3323a;
}

.team-member {
	margin-bottom: 0.25em;
}

.tab-content {
	margin-bottom: 2em;
}


.amounts .row {
	padding: 0.75em 0 0.5em 0;
}

.amounts .row .input-group .glyphicon {
	top: 1px;
}

.amounts .row:nth-child(even) {
	background-color: $alabaster;
	border-top: 1px solid darken($alabaster, 20%);
	border-bottom: 1px solid darken($alabaster, 20%);
}

.amounts .row:nth-child(even) .form-control-label {
	background: transparent;
}
/** bootstrap overrides */
.control-group {
	margin-bottom: 1em;
}

.input-group {
	width: 100%;
}
.input-group .glyphicon {
	top: 0;
}

.type-container .row {
	margin-bottom: 1em;
}

.row-label {
	display: table;
}
.row-label label {
	display: table-cell;
}

.form-control {
	border: 1px solid #c8c4bb;
}

label {
	&.form-control {
		font-weight: normal !important;
	}
}

.required abbr {
	border-bottom: none;
	color: #e3323a;
}