.open-report {

	background: #fff;
	text-align: left;
	border: solid 1px $silverRust;
	margin: 4em auto 1em;
	max-width: 300px;

	h2 {
		border-bottom: solid 1px $silverRust;
		background: $background;
		font-size: 1.1em;
		padding: 15px 5px 15px 15px;
		margin: 0;
	}

}