.saved-reports {

	background: #fff;
	text-align: left;
	border: solid 1px $silverRust;
	margin: 4em auto 1em;
	max-width: 300px;

	display: none;

	h2 {
		background: $background;
		font-size: 1.1em;
		border-bottom: solid 1px $silverRust;
		padding: 15px 5px 15px 15px;
		margin: 0;
	}

	.saved-reports-list {

		height: 200px;
		overflow-y: scroll;

		p,
		a {
			padding: 15px 15px;
		}

		.open-saved-report-btn {

			@include transition-property(background-color);
			@include transition-duration(0.05s);

			background-color: white;
			text-decoration: none;
			display: block;

			&:before {
				content: none;
			}

			&:active {
				background-color: $background;
				text-decoration: none;
			}

			&:after {
				content: "\e080";
				position: absolute;
				right: 10px;
			}

		}

	}

}