<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite to index.php">
                    <match url="index.php|robots.txt|images|test.php" />
                    <action type="None" />
                </rule>
				
                <!-- <rule name="Rewrite CI C-M with QS">
                    <match url="([^/]+)/([^/]+)?(.+)" />
                    <conditions>
						<add input="{QUERY_STRING}" pattern=".*" />
                        <add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html" negate="true" />
                    </conditions>
                    <action type="Redirect" appendQueryString="false" url="http://www.google.com" /> 
                    <action type="Redirect" appendQueryString="false" url="http://www.google.com" /> 
                </rule> -->
				
				<!-- <rule name="Canteen Add">
                    <match url="Canteen/add" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/addReport.php" />
                </rule> -->
				
                <rule name="Rewrite CI C-M">
                    <match url="([^/]+)/([^/]+)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html" negate="true" />
                    </conditions>
                    <action type="Rewrite" appendQueryString="True" url="/index.php?c={R:1}&amp;m={R:2}" />
                </rule>
                <rule name="Rewrite CI C-M (Index)">
                    <match url="([^/]+)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html" negate="true" />
                    </conditions>
                    <action type="Rewrite" appendQueryString="True" url="/index.php?c={R:1}&amp;m=Index" />
                </rule>
				
                <!-- <rule name="Rewrite CI Index">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php/{R:0}" />
                </rule> -->
            </rules>
        </rewrite>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
    </system.webServer>
</configuration>  