.canteen-well {
	padding: 2em;
	margin-bottom: 10em;
}

.amounts .row {
	margin-top: 1em;
	margin-bottom: 1em;
}

/** bootstrap overrides */
.control-group {
	margin-bottom: 1em;
}

.input-group {
	width: 100%;
}
.input-group .glyphicon {
	top: 0;
}


label {
	font-size: 16px;
	color: #332e27;
}
.form-control {
	border: 1px solid #c8c4bb;
}

.required abbr {
	border-bottom: none;
	color: #e3323a;
}