.canteen-well {
	padding: 2em;
	border-bottom: 2px solid #ecebe8;
}

.amounts .row {

	/*margin-top: 1em;
	margin-bottom: 1em;*/
	padding: 0.75em 0 0.5em 0;
}

.amounts .row:nth-child(even) {
	background-color: #ecebe8;
	border-top: 1px solid #dad7d2;
	border-bottom: 1px solid #dad7d2;
}

.amounts .row:nth-child(even) .form-control-label {
	background: transparent;
}
/** bootstrap overrides */
.control-group {
	margin-bottom: 1em;
}

.input-group {
	width: 100%;
}
.input-group .glyphicon {
	top: 0;
}

.type-container .row {
	margin-bottom: 1em;
}

.row-label {
	display: table;
}
.row-label label {
	display: table-cell;
}


label, h2 {
	font-size: 16px;
	color: #332e27;
}
label.control-label {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
label.form-control {
	font-weight: normal;
}
label.form-control-label {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control {
	border: 1px solid #c8c4bb;
}

.required abbr {
	border-bottom: none;
	color: #e3323a;
}