/* line 2, ../sass/_start.scss */
.container {
  width: 100%;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
}

/* line 8, ../sass/_start.scss */
.container.framed {
  padding-left: 100px;
  padding-top: 70px;
}

/* 
	added a start class just to center things
*/
/* line 15, ../sass/_start.scss */
.container.start {
  text-align: center;
}
/* line 18, ../sass/_start.scss */
.container.start h1 {
  text-transform: uppercase;
  margin-bottom: 2em;
}
/* line 22, ../sass/_start.scss */
.container.start a.btn-primary {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
}
/* line 31, ../sass/_start.scss */
.container.start a.btn-primary:hover {
  text-decoration: none;
}

/* line 36, ../sass/_start.scss */
.glyphicon-remove-sign:before {
  font-size: 1.3em;
  position: relative;
  margin-right: 10px;
  color: #B2AEA5;
}

/* line 1, ../sass/_frame.scss */
header {
  width: 100%;
  position: fixed;
  padding: 20px 15px;
  background: #DAD7D2;
  z-index: 1000;
}
/* line 8, ../sass/_frame.scss */
header h1 {
  font-family: 'Average';
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.6em;
}
/* line 20, ../sass/_frame.scss */
header:after {
  display: block;
  content: '';
  clear: both;
}
/* line 25, ../sass/_frame.scss */
header .closebtn {
  padding: 10px 25px;
  border-radius: 3px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  background: #EBEAE8;
  color: #000;
  border: solid 1px #ccc;
  vertical-align: top;
}
/* line 37, ../sass/_frame.scss */
header .closebtn:hover {
  text-decoration: none;
  background: #E3323A;
  border-color: #c42d32;
  color: #fff;
}
/* line 42, ../sass/_frame.scss */
header .closebtn:hover:before {
  color: #fff;
}
/* line 47, ../sass/_frame.scss */
header .sync-btn {
  padding: 10px 25px;
  border-radius: 3px;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  background: #EBEAE8;
  color: #000;
  border: solid 1px #ccc;
}
/* line 57, ../sass/_frame.scss */
header .sync-btn.isLoading:after {
  display: inline-block;
  position: relative;
  background: url(../img/ajax-loader.gif) no-repeat;
  content: '';
  width: 16px;
  height: 16px;
  top: 3px;
  margin-left: 10px;
}
/* line 67, ../sass/_frame.scss */
header .sync-btn:hover {
  text-decoration: none;
  background: #E3323A;
  border-color: #c42d32;
  color: #fff;
}

/* line 75, ../sass/_frame.scss */
.left-menu {
  border-right: solid 1px #DAD7D2;
  width: 100%;
  max-width: 100px;
  position: fixed;
  height: 100%;
  padding-top: 64px;
  background: #ECEBE7;
}
/* line 83, ../sass/_frame.scss */
.left-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 87, ../sass/_frame.scss */
.left-menu ul li {
  text-align: center;
  margin-top: 25px;
}
/* line 91, ../sass/_frame.scss */
.left-menu ul li.isActive a {
  color: #e3323a;
}
/* line 94, ../sass/_frame.scss */
.left-menu ul li a {
  font-size: 1.4em;
  width: 100%;
  color: #9C9992;
}
/* line 99, ../sass/_frame.scss */
.left-menu ul li a:hover {
  color: #E3323A;
}
/* line 103, ../sass/_frame.scss */
.left-menu ul li a:before {
  display: block;
}
/* line 106, ../sass/_frame.scss */
.left-menu ul li a:hover {
  text-decoration: none;
}
/* line 112, ../sass/_frame.scss */
.left-menu:after {
  display: block;
  content: '';
  clear: both;
}

/* line 3, ../sass/_form.scss */
.team-member-1 .js-remove-member-container {
  display: none;
}
